# ignore env file
.env

# ignore pyenv local file
.python-version

# ignore poetry venv
.venv/

# ignore slurm output files
slurm-*.out

# ignore pycache
__pycache__/

# ignore blade-created cache
blade_pipeline/llms/cache/