# ignore env file
.env

# ignore pyenv local file
.python-version

# ignore poetry venv
.venv/

# ignore slurm output files
slurm-*.out

# ignore pycache
__pycache__/

# ignore blade-created cache
/src/stat_genie/blade_pipeline/llms/cache/
/src/stat_genie/blade_pipeline/eval/code_cache/